.footer {
    padding: 14px;
    background-color: #fff;
    display: flex;
    align-items: center;
    color: white;
}

.copyright {
    margin-left: auto;
    color: black;
}

.ft-links {
    display: flex;
    justify-content: space-between;
}

.ft-link {
    color: black !important;
    font-size: 24px;
    margin-right: 20px;
    line-height: 0.26;
}