* {
    margin: 0px;
    padding: 0px;
    font-family: "Fira Mono";
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    --blue: #3fa9f5;
    --white: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

a {
    text-decoration: none;
}

#loading {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 95898520;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    transition: all 2s cubic-bezier(0, .23, 0, .93);
}

.finished {
    opacity: 0;
    background-color: #5e5ac4 !important;
    pointer-events: none;
    transform: scale(40);
}

@keyframes bounce {
    0% {
        transform: scale(50%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes bounceleft {
    0% {
        transform: scale(50%) translateX(1px);
    }
    100% {
        transform: scale(150%);
    }
}

@keyframes bounceright {
    0% {
        transform: scale(50%) translateX(-1px);
    }
    100% {
        transform: scale(200%);
    }
}

.page-cont {
    width: 913px;
    padding-top: 60px;
}

.maincontent {
    margin-top: 40px;
    margin-bottom: 40px;
}