.mc-left {
    width: 55%;
}

.mc-right {
    background-color: white;
    width: 45%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.maincontent {
    display: flex;
}

.mc-link {}

.mcld-text {
    color: white !important;
}

.mc-link-main {
    background-color: white !important;
    padding: 14px;
}

.mclm-top {
    font-size: 30px;
    color: black !important;
    font-weight: 900;
}

.mcld-text {
    font-size: 20px;
    font-weight: 500;
}

.mc-link-desc {
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 28px;
}

.mcld-last {
    padding-bottom: 0px;
}

.posts-header {
    padding: 14px;
    background-color: white;
    color: black;
}

.posts-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: 0;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
}

.posts-name {
    padding: 14px;
    color: white;
    background-color: #fff2;
    width: 100%;
    box-sizing: border-box;
}

.posts-viewmore {
    padding: 14px;
    color: white;
    background-color: #fff4;
    width: 100%;
    box-sizing: border-box;
    justify-self: flex-end;
    margin-top: auto;
}