* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.background {
    display: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg_temp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
    transform: scale(var(--scale));
    transform: scale(var(--scale)) translate(calc((var(--mouseX) + 50%) / 50), calc((var(--mouseY) + 50%) / 50));
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100vw;

    opacity: -5;
    pointer-events: none;
    transition: all 1s ease;
    transform: scale(0.95);
    filter: blur(10px);
    max-height: 100vh;
    overflow:hidden;
}

.page-top .page_content {
    margin-top: 0px;
}

.page__active {
    opacity: 1;
    pointer-events: auto;
    transform: none;
    filter: none;
    overflow: auto;
}

.home__header {
    margin-bottom: 20px;
}

.page_content {
    width: calc(100% - 50px);
    margin: auto 0px;
    padding: 40px 20px;
    box-sizing: border-box;
    max-width: 800px;
}

.home__2col__left {
    width: calc(55% - (27px / 2));
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home__2col__right {
    width: calc(45% - (27px / 2));

}

.home__2col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.home__logo {
    height: 96px;
}

.home__header h1 {
    font-size: 42px;
    font-weight: bold;
}

.home__header p {
    /* MEDIUM  font weight */
    font-weight: 500;
    font-size: 29px;
}

.home__button {
    background-color: white;
    color: #2f3d45;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 19px;
    box-sizing: border-box;
    font-weight: 600;
    display: flex;
    overflow: hidden;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.25));
    transition: all 1.5s cubic-bezier(0.140, 0.050, 0.105, 0.990);
    cursor: pointer;
    user-select: none;
}

.home__button:hover {
    filter: drop-shadow(0px 4px 8px #7079cd55);
}

.home__button p {
    margin-left: auto;
    pointer-events: none;
    transition: all 0.3s ease;
}

.home__button-text {
    padding: 12px;
    font-size: 18px;
    text-align: right;
}


.home__button-section {
    display: flex;
    flex-direction: column;
}

.nobot {
    padding-bottom: 0;
}

.home__button:hover {
    z-index: 20;
    position: relative;
}

.home__button:hover p {
    color: white;
    z-index: 500;
}

@keyframes hover_anim {
    0% {
        background-position: -200px -200px;
        opacity: 0;
        transform: scale(1);
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
        background-position: 20px 0;
        opacity: 1;
    }
}

.home__button:hover::before {
    background-position: 20px 0;
    transform: scale(1.1);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("bg_temp.png");
    opacity: 1;
    filter: contrast(2) brightness(0.9);
    z-index: 3;
    pointer-events: none;
    animation: hover_anim 1.5s cubic-bezier(0.140, 0.050, 0.105, 0.990);
   /*  transition: all 0.1s ease; */
}

.home__button:active::before {
    filter: contrast(3) brightness(1) !important;
    transform: scale(1.05) !important;
    background-position: 0px 0 !important;
}

.home__latest-portfolio {
    display: flex;
    height: 100%;
    margin-bottom: 24px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
}

.home__lastest-portfolio-readmore {
    margin-top: auto;
}

.home__lastest-portfolio-readmore p {
    margin-left: 0px;
}

.home__lastest-portfolio-readmore:hover p {
    color: #000c;
}

.home__lastest-portfolio-readmore:hover::before {
    margin-left: -40px;
}

.home__latest-portfolio-header {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff6;
    backdrop-filter: blur(10px) saturate(180%) brightness(0.5) contrast(1.5);
    text-align: left;
    font-size: 19px;
    font-weight: 500;
}

.footer {
    display: flex;
    background-color: #fff1;
    padding: 15px;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
}

.footer__left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footer__right {
    display: flex;
    justify-content: center;
    margin-left: auto;
    gap: 20px;
}

.footer__right a {
    color: #fffe;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

/* mobile at 580px */

@media screen and (max-width: 580px) {
    .home__2col {
        flex-direction: column;
    }

    .home__2col__left, .home__2col__right {
        width: 100%;
    }

    .home__2col__left {
        margin-bottom: 40px;
    }

    .home__2col__right {
        height: 400px;
    }

    /* font sizes */
    .home__header h1 {
        font-size: 32px;
    }

    .home__header p {
        font-size: 22px;
    }

    .home__button p {
        font-size: 16px;
    }

    .home__button-section {
        flex-direction: column;
    }

    .home__header p {
        margin-bottom: 40px;
    }
}

.usercard_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    background-color: #000c;
}

.usercard_container-hidden {
    opacity: 0;
    pointer-events: none;
}

.usercard_container-hidden .usercard {
    margin-top: 100px;
}

.usercard {
    background-color: #18191c66;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: stretch;
    transition: all 1s ease;
}

.usercard_bg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    filter: blur(50px);
    opacity: 0.2;
    transform: scale(1.2);
}

.usercard-left {
    display: flex;
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.usercard-right {
    background-color: #fff1;
    display: flex;
    padding: 20px;
    text-align: left !important;
    border-radius: 0px 5px 5px 0px;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    color: white;
}

.pfpblur {
    /* absolute positioned */
    position: absolute;
    transform: scale(1.7);
    filter: blur(20px);
    opacity: 0.6;
}

.usercard-left {
    position: relative;
}

.usercard-name {
    font-size: 34px;
    font-weight: 600;
}

.usercard-right p {
    font-size: 14px;
    color: #fffa;
}

.pfp {
    border-radius: 900px;
    z-index: 999;
}

.tag {
    opacity: 0.5;
}

.usercard__close {
    position: fixed;
    top: 30px;
    left: 30px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 900px;
    color: white;
    z-index: 999;
    font-size: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__board {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.portfolio__board-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff1;
    backdrop-filter: blur(40px);
    border-radius: 20px;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s ease;
}

.portfolio__board-item:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(45deg, #baf6ff33, #ffbaee33);
    border-radius: 20px;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 0px 10px #baf6ffaa);
    opacity: 0.01;
    transform: rotate(180deg) scale(3);
    transition: all 0.5s ease;
    pointer-events: none;
}

.portfolio__board-item:hover:after {
    opacity: 0.75;
}

.portfolio__board-item:hover {
    filter: drop-shadow(0px 0px 10px #baf6ffaa);
    cursor: pointer;
    transform: scale(1.01);
}

.portfolio__board-item img {
    width: 100%;
    border-radius: 10px;
    z-index: 50;
    margin-bottom: 10px;
}

.genericpage__header {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 15px;
}

.portfolio__board-item-title {
    text-align: left;
    padding: 10px;
    color: white !important;
    text-decoration: none;
}

.portfolio__board-item-title h3 {
    font-size: 24px;
    font-weight: 600;
}

.portfolio__board-item-title h4 {
    font-size: 18px;
    font-weight: 400;
}

.portfolio__board-item-title h3, .portfolio__board-item-title h4 {
    text-decoration: none;
}

.portfolio__board-item-title p, 
.gp__title p {
    font-size: 14px;
    font-weight: 400;
    color: #fffa;
}

.gp__back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    opacity: 0.75;
    transition: all 0.5s ease;
    cursor: pointer;
}

.gp__back p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.gp__back i {
    transition: all 0.5s ease;
}

.gp__back:hover {
    opacity: 1;
    filter: drop-shadow(0px 0px 10px #fffa);
}

.gp__back:hover p {
    margin-left: 15px;
}

.gp__back:hover i {
    transform: rotate(360deg);
}

.splide__list img {
    width: auto;
    height: 100%;
    transform: scale(0.9);
    border-radius: 10px;
}


.splide__track {
    aspect-ratio: 16/8;
}

.splide__pagination {
    filter: drop-shadow(0px 0px 10px #fffa);
}

#splide01 {
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff1;
    backdrop-filter: blur(40px);
}
.portfolio_post-info {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 400;
    color: #fffe;
}

.projects__board {
    /* this has to be a grid of 3 wide items. though some can take up 100% width */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}



.projects__board-item__big {
    /* this should take up two slots, either on the left or right */
    /* grid-column: 1 / 3; (doesnt work because if it's placed on the right, it will take up the whole row) */
    grid-column: span 2;
}

.projects__board-item__bigger {
    /* this takes up the entire 3 column space */
    grid-column: 1 / -1;
}

.projects__board-item {
    padding: 14px;
    background-color: #fff2;
    height: 180px;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    width: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s ease;
}
.projects__board-item:hover {
    filter: drop-shadow(0px 0px 10px #fffa) brightness(1.1);
    transform: scale(1.01);
}

.projects__board-item-title h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

.projects__board-item-title h4 {
    font-size: 12px;
    font-weight: 400;
}

.project__post-cover {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all 0.5s ease;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.project__post-cover  h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

.project__post-cover p {
    font-size: 18px;
    font-weight: 400;
}

.project__page {
    /* includes html from the project */
    text-align: left;
    margin-top: 20px;
    background-color: #ffffff05;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    width: 100%;
}

.project__page p {

    font-size: 18px;
}

.project__page a {
    color: #0088ee;
}

.project__page a:visited {
    color: #8888ee;
}

.contact__header {
    background-color: #fff2;
    border: 1px solid #fff2;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    text-align: left;
    position: relative;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.content-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #ffffff05;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    margin-top: 10px;
}

.content-item div img {
    height: 20px;
    filter: brightness(900) contrast(0) grayscale(1) brightness(900);
    opacity: 0.5;
}

.content-item div p {
    font-size: 24px;
    font-weight: 700;
}

.content-item div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    margin-left: 20px;
}

.contact-button {
    border: 2px solid #fffa;
    color: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 600;
    transition: all 0.2s ease;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #fff;
    color: #222;
}

.contact__footer {

}


.contact__footer-links {
    color: white !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.contact__footer-links a {
    color: white !important;
    background-color: #fff2;
    border-radius: 8px;
    border: 1px solid #fff2;
    padding: 6px;
    height: 24px !important;
    width: 24px !important;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__footer-links a:hover {
    background-color: #fff;
    color: #222 !important;
}

.contact__footer {
    margin-top: 10px;
    padding-top: 10px;
}

.contact__footer p {
    padding-bottom: 8px;
}