*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.background{
    display: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg_temp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
    transform: scale(var(--scale));
    transform: scale(var(--scale)) translate(calc((var(--mouseX) + 50%) / 50), calc((var(--mouseY) + 50%) / 50));
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100vw;
}

.home__header{
    margin-bottom: 20px;
}

.page_content{
    width: calc(100% - 50px);
    margin: auto 0px;
    padding: 40px 20px;
    box-sizing: border-box;
    max-width: 800px;
}

.home__2col__left {
    width: calc(55% - (27px / 2));
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home__2col__right {
    width: calc(45% - (27px / 2));
    
}

.home__2col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.home__logo {
    height: 96px;
}

.home__header h1 {
    font-size: 42px;
    font-weight: bold;
}

.home__header p {
    /* MEDIUM  font weight */
    font-weight: 500;
    font-size: 29px;
}

.home__button{
    background-color: white;
    color: #2f3d45;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 19px;
    box-sizing: border-box;
    font-weight: 600;
    display: flex;
    overflow: hidden;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.25));
    transition: all 1.5s cubic-bezier(0.140, 0.050, 0.105, 0.990);
    cursor: pointer;
    user-select: none;
}

.home__button:hover {
    filter: drop-shadow(0px 4px 8px #7079cd55);
}

.home__button p {
    margin-left: auto;
    pointer-events: none;
    transition: all 0.3s ease;
}

.home__button-text{
    padding: 12px;
    font-size: 18px;
    text-align: right;
}


.home__button-section {
    display: flex;
    flex-direction: column;
}

.nobot {
    padding-bottom: 0;
}

.home__button:hover {
    z-index: 20;
    position: relative;
}

.home__button:hover p{
    color: white;
    z-index: 500;
}

@keyframes hover_anim {
    0% {
        background-position: -200px -200px;
        opacity: 0;
        transform: scale(1);
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        background-position: 20px 0;
        opacity: 1;
    }
}

.home__button:hover::before  {
    background-position: 20px 0;
    transform: scale(1.1);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("bg_temp.png");
    opacity: 1;
    filter: contrast(2) brightness(0.9);
    z-index: 3;
    pointer-events: none;
    animation: hover_anim 1.5s cubic-bezier(0.140, 0.050, 0.105, 0.990);
    transition: all 0.1s ease;
}

.home__button:active::before {
    filter: contrast(3) brightness(1) !important;
    transform: scale(1.05) !important;
    background-position: 0px 0 !important;
}

.home__latest-portfolio {
    display: flex;
    height: 100%;
    margin-bottom: 24px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
}

.home__lastest-portfolio-readmore {
    margin-top: auto;
}

.home__lastest-portfolio-readmore p {
    margin-left: 0px;
}

.home__lastest-portfolio-readmore:hover p {
    color: #000c;
}

.home__lastest-portfolio-readmore:hover::before {
    margin-left: -40px;
}

.home__latest-portfolio-header {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff6;
    backdrop-filter: blur(10px) saturate(180%) brightness(0.5) contrast(1.5);
    text-align: left;
    font-size: 19px;
    font-weight: 500;
}

.footer {
    display: flex;
    background-color: #fff1;
    padding: 15px;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
}

.footer__left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footer__right {
    display: flex;
    justify-content: center;
    margin-left: auto;
    gap: 20px;
}

.footer__right a {
    color: #fffe;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

/* mobile at 580px */

@media screen and (max-width: 580px) {
    .home__2col {
        flex-direction: column;
    }

    .home__2col__left, .home__2col__right {
        width: 100%;
    }

    .home__2col__left {
        margin-bottom: 40px;
    }

    .home__2col__right {
        height: 400px;
    }

    /* font sizes */
    .home__header h1 {
        font-size: 32px;
    }

    .home__header p {
        font-size: 22px;
    }

    .home__button p {
        font-size: 16px;
    }

    .home__button-section {
        flex-direction: column;
    }

    .home__header p {
        margin-bottom: 40px;
    }
}

.usercard_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    background-color: #000c;
}

.usercard_container-hidden {
    opacity: 0;
    pointer-events: none;
}

.usercard_container-hidden .usercard{
    margin-top: 100px;
}

.usercard {
    background-color: #18191c66;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: stretch;
    transition: all 1s ease;
}

.usercard_bg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    filter: blur(50px);
    opacity: 0.2;
    transform: scale(1.2);
}

.usercard-left {
    display: flex;
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.usercard-right {
    background-color: #fff1;
    display: flex;
    padding: 20px;
    text-align: left !important;
    border-radius: 0px 5px 5px 0px;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    color: white;
}

.pfpblur {
    /* absolute positioned */
    position: absolute;
    transform: scale(1.7);
    filter: blur(20px);
    opacity: 0.6;
}

.usercard-left {
    position: relative;
}

.usercard-name {
    font-size: 34px;
    font-weight: 600;
}

.usercard-right p {
    font-size: 14px;
    color: #fffa;
}

.pfp  {
    border-radius: 900px;
    z-index: 999;
}

.tag {
    opacity: 0.5;
}

.usercard__close {
    position: fixed;
    top: 30px;
    left: 30px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 900px;
    color: white;
    z-index: 999;
    font-size: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}